.searchForm {
  border: 1px solid #ddd;
  background: #fff;
  padding: 20px;
}
.searchForm .w100 {
  width: 100%;
}
.searchForm .width {
  width: 100%;
}
.searchForm .nzstyle {
  height: 32px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}
.searchForm ::ng-deep .ant-calendar-picker {
  width: 100% !important;
}
.searchForm ::ng-deep .cdk-overlay-container {
  position: relative;
}
.searchForm .r {
  float: right;
}
.searchForm .mr10 {
  margin-right: 10px;
}
.searchForm .h32 {
  height: 32px;
  line-height: 32px;
}
.searchForm .tam {
  text-align: center;
}
.searchForm .ant-row {
  height: 50px;
}
.searchForm input {
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 32px;
}
.searchForm ::selection input {
  color: #1890ff;
}
.searchForm .button-right {
  width: 100%;
  margin-top: 10px;
}
.searchForm .button-right .clear-button {
  float: right;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.searchForm .button-right .search-button {
  float: right;
  margin-left: 20px;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
nz-date-picker {
  margin: 0 8px 12px 0;
}
:host ::ng-deep .cdk-overlay-container .cdk-overlay-connected-position-bounding-box {
  position: absolute;
  top: 200px !important;
  left: 50% !important;
  border:1px solid red !important;
}
:host ::ng-deep body{
  position: relative;
}

.bgo{
  background:orange !important;
  border:1px solid red !important;
}

.list {
  margin-top: 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  background: #fff;
}
.list .list-top {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #f5f5f5;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
}
.list .list-top button {
  height: 24px;
  line-height: 24px;
  border: 1px solid #ddd;
  border-radius: 2px;
  float: right;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.list .list-top button a {
  font-size: 10px;
  color: #fff;
}
.list .table {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}
.list .table thead tr {
  text-align: center;
}
.list .table tbody tr {
  text-align: center;
}
.list .table tbody .editlink {
  color: #337ab7;
}
.list .table tbody button {
  border: 0;
  color: #337ab7;
  text-decoration: none;
}
.list table {
  width: 100%;
  margin-top: 10px;
  border: 1px solid #ddd;
}
.list table tr {
  border: 1px solid #ddd;
  height: 50px;
}
.list table td button a {
  color: #337ab7;
  text-decoration: none;
}
nz-pagination {
  float: right;
}
