
<ul nz-menu [nzMode]="'inline'" style="width: 280px; border:1px solid #FF9933" class="ul-left">

  <li nz-submenu>
    <span title>
      <i nz-icon type="edit"></i>
      后台管理
    </span>
    <ul>

      <li nz-menu-item>模块管理</li>
      <li nz-menu-item>
        <a routerLink='/personal/personalpage'>个人信息</a>
      </li>
      <li nz-menu-item>密码修改</li>
      <li nz-menu-item>账号管理</li>

    </ul>
  </li>
  <li nz-submenu>
    <span title>
      <i nz-icon type="edit"></i>
      信息管理
    </span>
    <ul>

      <li nz-menu-item>公司列表</li>
      <li nz-menu-item>职位列表</li>

    </ul>
  </li>
  <li nz-submenu>
    <span title>
      <i nz-icon type="edit"></i>
      内容管理
    </span>
    <ul>

      <li nz-menu-item>
        <a routerLink='/article/articlelist'>Article列表</a>
      </li>
    </ul>
  </li>

 

</ul>

